---
swagger: "2.0"
info:
  description: "API for interfacing with NewsMaker service"
  version: "1.0.0"
  title: "NewsMaker"
  termsOfService: "http://newsmaker.azurewebsites.net/terms/"
  contact:
    name: "NewsMaker Team"
    url: "http://newsmaker.azurewebsite.net"
    email: "newsmaker@microsoft.com"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "newsmaker.azurewebsite.net"
basePath: "/api"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /cats:
    get:
      description: "Returns all cats from the system that the user has access to matching the the query parameters"
      operationId: "queryCats"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "filter"
        in: "query"
        description: "property values filter by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "order"
        in: "query"
        description: "properties to sort by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "limit"
        in: "query"
        description: "maximum number of results to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "cats response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/cat"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "cats"
    post:
      description: "Create or update cats"
      operationId: "upsertCats"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "cat"
        description: "Cat to add or update"
        required: true
        schema:
          $ref: "#/definitions/cat"
      responses:
        200:
          description: "cat response"
          schema:
            $ref: "#/definitions/cat"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "cats"
  /cats/{id}:
    get:
      description: "Returns a cat based on a single ID, if the user does not have\
        \ access to the cat"
      operationId: "getCatByID"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of cat to fetch"
        required: true
        type: "string"
      responses:
        200:
          description: "cat response"
          schema:
            $ref: "#/definitions/cat"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "cats"
    delete:
      description: "deletes a single cat based on the ID supplied"
      operationId: "deleteCat"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of cat to delete"
        required: true
        type: "string"
      responses:
        204:
          description: "cat deleted"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "cats"
  /feeds:
    get:
      description: "Returns all feeds from the system that the user has access to that match the query parameters"
      operationId: "queryFeeds"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "filter"
        in: "query"
        description: "property values filter by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "order"
        in: "query"
        description: "properties to sort by"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "limit"
        in: "query"
        description: "maximum number of results to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "feeds response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/feed"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "feeds"
    post:
      description: "Creates or updates a feed"
      operationId: "upsertFeed"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "feed"
        description: "Post to add"
        required: true
        schema:
          $ref: "#/definitions/feed"
      responses:
        200:
          description: "feed response"
          schema:
            $ref: "#/definitions/feed"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "feeds"
  /feeds/{id}:
    get:
      description: "Returns a feed based on a single ID, if the user does not have\
        \ access to the feed"
      operationId: "getFeedByID"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of feed to fetch"
        required: true
        type: "string"
      responses:
        200:
          description: "feed response"
          schema:
            $ref: "#/definitions/feed"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "feeds"
    delete:
      description: "deletes a single feed based on the ID supplied"
      operationId: "deleteFeed"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of feed to delete"
        required: true
        type: "string"
      responses:
        204:
          description: "feed deleted"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "feeds"
  /posts:
    get:
      description: "Returns all posts from the system that the user has access to that match t he query parameters"
      operationId: "queryPosts"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "filter"
        in: "query"
        description: "property values to filter by"
        required: false
        type: "string"
      - name: "order"
        in: "query"
        description: "properties to sort by"
        required: false
        type: "string"
      - name: "limit"
        in: "query"
        description: "maximum number of results to return"
        required: false
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "posts response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/post"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "posts"
    post:
      description: "Create or update a post"
      operationId: "upsertPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "posts"
        description: "Posts to add or update"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/post"
      responses:
        200:
          description: "post response"
          schema:
            $ref: "#/definitions/post"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "posts"
  /posts/{id}:
    get:
      description: "Returns a post based on a single ID, if the user does not have\
        \ access to the post"
      operationId: "getPostByID"
      produces:
      - "application/json"
      - "application/xml"
      - "text/xml"
      - "text/html"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of post to fetch"
        required: true
        type: "string"
      responses:
        200:
          description: "post response"
          schema:
            $ref: "#/definitions/post"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "posts"
    delete:
      description: "deletes a single post based on the ID supplied"
      operationId: "deletePost"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of post to delete"
        required: true
        type: "integer"
        format: "int64"
      responses:
        204:
          description: "post deleted"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "posts"
  /refreshposts:
    get:
      description: "triggers a refresh of the posts from their source feeds and adds any new posts"
      operationId: "refreshPosts"
      responses:
        200:
          description: "refresh of posts kicked off"
        default:
          description: "unexpected error"
          schema:
            $ref: "#/definitions/errorModel"
      x-swagger-router-controller: "posts"
definitions:
  cat:
    type: "object"
    required:
    - "catName"
    properties:
      id:
        type: "string"
      catName:
        type: "string"
  feed:
    type: "object"
    required:
    - "catID"
    - "feedName"
    - "feedSite"
    - "feedURL"
    properties:
      id:
        type: "string"
      catID:
        type: "string"
      feedName:
        type: "string"
      feedSite:
        type: "string"
      feedURL:
        type: "string"
  post:
    type: "object"
    required:
    - "date"
    - "feedID"
    - "link"
    - "title"
    properties:
      id:
        type: "string"
      title:
        type: "string"
      summary:
        type: "string"
      date:
        type: "string"
        format: "dateTime"
      author:
        type: "string"
      link:
        type: "string"
      categories:
        type: "array"
        items:
          type: "string"
      feedID:
        type: "string"
      feedName:
        type: "string"
      catID:
        type: "string"
      unixtime:
        type: "integer"
        format: "int64"
  errorModel:
    type: "object"
    required:
    - "code"
    - "message"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
